.flexbox {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    border-bottom: 2px solid white;
    width: 100%;
}
.buttonHolder {
    display: flex;
    align-items: center;
}
.button {
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    background-color: #282c34;
    color: white;
}
.button:hover {
    cursor: pointer;
    background-color: white;
    color: #282c34;
}
.songName {
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
}
.songInfo {
    margin-left: 15px;
}
.songAlbum {
    font-size: 15px;
    color: rgb(144, 144, 144);
    text-align: left;
}