.playlistName{
    border: none;
    border-bottom: 2px solid white;
    background-color: #282c34;
    width: 450px;
    color: white;
    font-size: 30px;
    margin-bottom: 41px;
    font-weight: bold;
    
}
.playlistName:focus {
    outline: none;
}
.form {
    
    height: 27em;
}